<h3>Home - Página Inicial </h3>


<div class="container mt-5">

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Alunos</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Bem vindo(a)</h5>
      <p class="card-text">Nesta página você terá acesso atualizar seu cadastro.</p>
      <a href="#" class="btn btn-primary">Atualize seus dados</a>
    </div>
  </div>

</div>