<h4>
  Criar/Editar Aluno
</h4>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">

      <div class="form-floating mb-2">
        <input disabled [(ngModel)]="aluno.id" class="form-control" placeholder="Id">
        <label for="disabled" class="active">#id</label>
      </div>

      <div class="form-floating mb-2">
        <input [(ngModel)]="aluno.nome" class="form-control" (input)="onInput()" placeholder="Nome" id="floatingInputValue">
        <label for="floatingInput">Nome</label>
      </div>

      <div class="form-floating mb-2">
        <input [(ngModel)]="aluno.email" type="email" class="form-control" placeholder="Email">
        <label for="floatingPassword">Email</label>
      </div>

    </div>