<div class="card mt-3">
  <div class="card-header">
    <div class="float-start">
      <h4>Cursos</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-primary me-2" [routerLink]="['novo']">Novo Curso</button>
      <button type="button" class="btn btn-danger" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">

    <table class="table table-hover" *ngIf="cursos$ | async as cursos ; else loadingSuccess">

      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.id}}</td>
          <td>{{curso.nome}}</td>

          <td>
            <span class="float-end">
              <button class="btn btn-outline-primary mb-1 btn-sm me-3" (click)="onEdit(curso.id)">Atualizar</button>
              <button class="btn btn-outline-danger mb-1 btn-sm">Remover</button>
            </span>
          </td>

        </tr>
      </tbody>

    </table>

    <ng-template #loadingSuccess>
      <span>Carregando Cursos ...</span> 
    </ng-template>
    <!-- <ng-template #loadingError>
      <div *ngIf="error$ | async ; else loadingSuccess">
        Erro ao carregar a lista de cursos. Tente novamente mais tarde.
      </div>
      </ng-template> -->

  </div>