<div class="container mt-5 p-5">
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Selecionar Arquivo</label>
    <input class="form-control" type="file" id="customFileLabel" multiple (change)="onChange($event)">
  </div>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" [style.width]="progress + '%'">
      {{progress}}%
    </div>
  </div>

  <div class="mt-3">
    <button 
    class="btn btn-primary me-2" 
    type="button" 
    (click)="onUpload()" 
    [disabled]="!files"
    >Upload
  </button>

    <button 
    class="btn btn-primary me-2" 
    type="button" 
    (click)="onDownloadExcel()">
    Download Excel
  </button>

    <button 
    class="btn btn-primary" 
    type="button" 
    (click)="onDownloadPdf()">
    Download PDF
  </button>
  </div>

</div>