<div class="container">
  <h4>Styles com property binding(style binding)</h4>
  <br>

  <button 
    [style.backgroundColor]="ativo ? 'blue' : 'gray'" 
    [style.color]="ativo ? 'white' : 'black'"
    [style.fontWeigth]="ativo ? 'bold' : 'normal'" 
    [style.fontSize]="tamanhoFonte+'px'" 
    (click)="mudarAtivo()">
    Mudar atributo 'ativo'
  </button>

  <br><br>

  <input type="text" [(ngModel)]="tamanhoFonte">

  <hr>

  <h4>Styles com diretiva ngStyle</h4>
  <br>

  <button 
      [ngStyle]="{
      'backgroundColor': (ativo ? 'red' : 'gray'),
      'color': (ativo ? 'white' : 'black'),
      'fontWeigth': (ativo ? 'bold' : 'normal'),
      'fontSize': tamanhoFonte+'px'
      }"
      (click)="mudarAtivo()">

      Mudar atributo 'ativo' com ngStyle
  </button>

  <br><br>

</div>